:root {
    /*Variables*/
    --main-bg-color1: rgb(245, 238, 239);
    --main-bg-color2: #5F317A; /*BEAM Purple*/
    --main-txt-color1: rgb(36, 35, 35);
   
    /*Variables for setup testing*/
    --test-bg-color1: rgba(255, 0, 0, 0.24);
    --test-bg-color2: yellow;
    --test-bg-color3: rgb(194, 238, 238);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Source Code Pro', monospace;
    line-height: 1.618em;

}

html {
    font-size: 1.618vw;
}

/* Containers */
.container {
    width: 95%;
    margin: 5px auto;
    background: var(--main-bg-color1);
    margin-bottom: 1em;
}

.photoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 20%;
}

.photoContainer img {
    width: 100%;
    
    border-radius: 50rem;
}

/* Elements and Classes */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    margin-top: 3em;
}

header div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

header div h1,
header div h2 {
    text-align: center;
    margin-bottom: 0px;
}

.divider {
    display: block;
    height: 3em;
    width: 100%;
    background: var(--main-bg-color2);
}

#stringName {
    color: blue;
}

.comment {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    margin-top: -1px;
    color: rgb(95, 158, 95);
}

header p {
    width: 100%;
    margin: auto;
    text-align: center;
}

.myName {
    color: brown;
}

p {
    padding: .5rem .5rem;
}

section {
    padding-top: .5em;
}

#myBlog h2 {
    text-align: center;
}

#specialties {
    padding-top: 1em;
}

footer {
    position: fixed;
    bottom: 0;
    left:0;
    height: 3em;

    width: 100%;
    margin: 0px auto 0;
    text-align: right;
    padding-right: .5em;
    padding-top: .5em;
    
    background: var(--main-bg-color2);
    color: white;
}

/* Nav Menu */


/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
        background-color: var(--main-bg-color1); 
    }

    html {
        font-size: 3vw;
    }

    #nav-container {
        display:flex;
        justify-content: flex-end;
        position: fixed;
        
        Top: 0;
        left: 0;

        width: 100%;
        height: 3em;
        margin: 0 auto;
        background: var(--main-bg-color2);
    }

   #main-nav {
        flex-direction: column;
        background: red;
    }

    #main-nav > div{
        display: block;
        background: purple;
        position: absolute;
    }


    #main-nav a {
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: var(--main-txt-color1);
        background: var(--main-bg-color1);
        border: 1.5px solid black;
        padding: .5em;
        font-size: 4vw;
         
    }
    .menu-container {
        display: inline-block;
        cursor: pointer;
        padding-right: 5px;
    }
    
    .bar1, .bar2, .bar3 {
        width: 25px;
        height: 2px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
        
    }
    
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-4px, 6px);
    }
    
    .change .bar2 {opacity: 0;}
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-5px, -8px);
    }
    
    .change #main-nav > div{
        display: block;
        -webkit-transition: display .5s;
        transition: .5s;
    }


}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-color: var(--test-bg-color2);
    }

}
/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
        background-color: var(--test-bg-color3);
    }
}
