:root {
    /*Variables*/
    --main-bg-color1: rgb(255, 255, 255);
    --main-bg-color2: #5F317A; /*BEAM Purple*/
    --main-txt-color1: rgb(36, 35, 35);
    --main-txt-color2: rgb(245, 238, 239);
   
    /*Variables for setup testing*/
    --test-bg-color1: rgba(255, 0, 0, 0.24);
    --test-bg-color2: yellow;
    --test-bg-color3: rgb(194, 238, 238);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Source Code Pro', monospace;
    line-height: 1.618em;
    color: var(--main-txt-color1);

}

html {
    font-size: 1.618vw;
}

/* Containers */
.container {
    width: 95%;
    margin: 5px auto;
    background: var(--main-bg-color1);
    margin-bottom: 1em;
}

.photoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12em;
    height: 16em;
}

.photoContainer img {
    width: 100%;
    border-radius: 100rem;
}

/* Elements and Classes */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -3em;
}

header div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

header div h1,
header div h2 {
    text-align: center;
    margin-bottom: 0px;
}

#text {
        display: inline-block;
        margin-left: 2.1em;
        margin-bottom: 10px;
        text-align: left;
        
        margin-top: -1px;
        color: rgb(95, 158, 95);
}

#blinker {
    display: none;
}


.divider-bottom {
    display: block;
    height: 1px;
    width: 100%;
    background: var(--main-bg-color2);
}

section {
    padding-top: 3em;
    min-height: 100vh;
}
#stringName {
    color: blue;
}



header p {
    width: 100%;
    margin: auto;
    text-align: center;
}

.myName {
    color: brown;
}

p {
    padding: .5rem .5rem;
}


#myBlog h2 {
    text-align: center;
}

#specialties {
    padding-top: 1em;
}

footer {
    position: fixed;
    bottom: 0;
    left:0;
    height: 4em;

    width: 100%;
    margin: 0px auto 0;
    text-align: right;
    padding-right: .5em;
    padding-top: .5em;
    
    background: var(--main-bg-color2);
    color: white;
}
footer div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 0;
    padding-left: 5px;
    width: 43%;
    text-align: left;
}

footer a img{
    width: 100%;
    display: inline-block;
    max-width: 30px;
}

footer small {
    display: inline-block;
    color: white;
    padding-top: 2em;
}




/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
        background-color: var(--main-bg-color1); 
    }

    html {
        font-size: 3.1vw;
    }

    p {
        font-size: 4.2vw;
    }
    
    /* Nav Menu */
    #nav-container {
        display:flex;
        justify-content: flex-end;
        align-items: center;
        position: fixed;
        
        top: 0;
        left: 0;

        width: 100%;
        height: 3em;
        margin: 0 auto;
        background: var(--main-bg-color2);
    }

    .menu-container {
        cursor: pointer;
        padding-right: 0;
        text-align: right;
        width: 100%;
        height: 3em;
    }
    
    .menu-container #menu-bars-container {    
        display: inline-block;
        padding-right: 5px;
    }

    .bar1, .bar2, .bar3 {
        width: 25px;
        height: 2px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s; 
    }

    #main-nav {
        height: 0;
        overflow: hidden;
        width: 100%;
        
        padding-top: 2px;
        position: absolute;
        top: 2.5em;
        transition: .8s;
    }
    
    #main-nav > div{
        width: 100%;
        background: var(--main-bg-color1);
        box-shadow: 0 0 1px var(--main-bg-color2);

    }

    #main-nav a {
        display: flex;
        justify-content: center;
        text-decoration: none;
        
        background: var(--main-bg-color1);
        border: .5px solid var(--main-bg-color2);
        box-shadow: 0 0 1px var(--main-bg-color2) inset;
        padding: 1em;
        font-size: 4vw;
        width: 100%
    }

    #main-nav a:visited {
        text-decoration: none;
    }


    /* OPEN MENU FUNCTIONALITY */
    .show .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-4px, 6px);
    }
    
    .show .bar2 {opacity: 0;}
    
    .show .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-5px, -8px);
    }
    
   .show #main-nav > div{
        height:20em;
    }


}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-color: var(--test-bg-color2);
    }

}
/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
        background-color: var(--test-bg-color3);
    }
}
