:root {
    /*Variables*/
    --main-bg-color1: rgb(245, 238, 239);
    --main-txt-color1: rgb(36, 35, 35);
   
    /*Variables for setup testing*/
    --test-bg-color1: rgba(255, 0, 0, 0.24);
    --test-bg-color2: yellow;
    --test-bg-color3: rgb(194, 238, 238);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Source Code Pro', monospace;
    line-height: 1.618em;

}

html {
    font-size: 1.618vw;
}

/* Containers */
.container {
    width: 95%;
    margin: 5px auto;
    background: var(--main-bg-color1);
    margin-bottom: 1em;
}

.photoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 25%;
}

.photoContainer img {
    width: 100%;
    
    border-radius: 50rem;
}

/* Elements and Classes */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vw;
}

header div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header div h1,
header div h2 {
    text-align: center;
    margin-bottom: 0px;
}

#stringName {
    color: blue;
}

.comment {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    margin-top: -1px;
    color: rgb(95, 158, 95);
}

header p {
    width: 100%;
    margin: auto;
    text-align: center;
}

.myName {
    color: brown;
}

p {
    padding: .5rem .5rem;
}

section {
    padding-top: .5em;
}

#myBlog h2 {
    text-align: center;
}

#specialties {
    padding-top: 1em;
}

footer {
    position: fixed;
    bottom: 0;

    width: 95%;
    margin: 0px auto 0;
    text-align: right;
    padding-right: .5em;
    
    background: var(--main-bg-color1);
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
        background-color: var(--test-bg-color1); 
    }

    html {
        font-size: 3vw;
    }

    #main-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        position: fixed;
        bottom: 0;
        
        width:95%;
        margin: 0 auto 1.6em;

        background: red;
        text-align: center;
    }

    #main-nav a {
        text-decoration: none;
        color: var(--main-txt-color1);
        background: var(--main-bg-color1);
        border: 1.5px solid black;
        padding: 1.3em;
        font-size: 4vw;
      

    }


}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-color: var(--test-bg-color2);
    }

}
/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
        background-color: var(--test-bg-color3);
    }
}
